<%= form_with(model: lost_animal, local: true) do |form| %>
  <% if lost_animal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lost_animal.errors.count, "error") %> prohibited this lost_animal from being saved:</h2>

      <ul>
        <% lost_animal.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :image, 'Foto do animal' %>
    <%= form.file_field :image %>
  </div>

  <div class="field">
    <%= form.label :species, 'Espécie' %>
    <%= form.text_field :species %>
  </div>

  <div class="field">
    <%= form.label :sex, 'Sexo' %>
    <%= form.text_field :sex %>
  </div>

  <div class="field">
    <%= form.label :lostdate, 'Data que desapareceu' %>
    <%= form.date_select :lostdate %>
  </div>

  <div class="field">
    <%= form.label :lostplace, 'Local que desapareceu' %>
    <%= form.text_field :lostplace %>
  </div>

  <div class="field">
    <%= form.label :contact, 'Contato' %>
    <%= form.text_field :contact %>
  </div>

  <div class="field">
    <%= form.label :ps, 'Observação' %>
    <%= form.text_area :ps %>
  </div>

  <div class="field">
    <%= form.label :User_id, 'Usuário' %>
    <%= form.text_field :User_id %>
  </div>

  <div class="actions">
    <%= form.submit "Cadastrar" %>
  </div>
<% end %>
