<p id="notice"><%= notice %></p>

<h1>Animais perdidos</h1>

<table>
  <thead>
    <tr>
      <th>Espécie</th>
      <th>Sexo</th>
      <th>Dia que desapareceu</th>
      <th>Local que desapareceu</th>
      <th>Contato</th>
      <th>Observação</th>
      <th>Usuário</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lost_animals.each do |lost_animal| %>
      <tr>
        <td>
          <% if lost_animal.image.attached? %>
          <%= image_tag lost_animal.image %>
          <% end %>
        </td>
        <td><%= lost_animal.species %></td>
        <td><%= lost_animal.sex %></td>
        <td><%= lost_animal.lostdate %></td>
        <td><%= lost_animal.lostplace %></td>
        <td><%= lost_animal.contact %></td>
        <td><%= lost_animal.ps %></td>
        <td><%= lost_animal.User_id %></td>
        <td><%= link_to 'Visualizar', lost_animal %></td>
        <td><%= link_to 'Editar', edit_lost_animal_path(lost_animal) %></td>
        <td><%= link_to 'Família Reunida', lost_animal, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Cadastrar Animal Perdido', new_lost_animal_path %>
