<p id="notice"><%= notice %></p>

<p>
  <strong>Species:</strong>
  <%= @lost_animal.species %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @lost_animal.sex %>
</p>

<p>
  <strong>Lostdate:</strong>
  <%= @lost_animal.lostdate %>
</p>

<p>
  <strong>Lostplace:</strong>
  <%= @lost_animal.lostplace %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @lost_animal.contact %>
</p>

<p>
  <strong>Ps:</strong>
  <%= @lost_animal.ps %>
</p>

<p>
  <strong>User:</strong>
  <%= @lost_animal.User_id %>
</p>

<%= link_to 'Edit', edit_lost_animal_path(@lost_animal) %> |
<%= link_to 'Back', lost_animals_path %>
