<%= form_with(model: animal_found, local: true) do |form| %>
  <% if animal_found.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(animal_found.errors.count, "error") %> prohibited this animal_found from being saved:</h2>

      <ul>
        <% animal_found.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :specie, 'Espécie' %>
    <%= form.text_field :specie %>
  </div>

  <div class="field">
    <%= form.label :sex, 'Sexo' %>
    <%= form.text_field :sex %>
  </div>

  <div class="field">
    <%= form.label :founddate, 'Data que foi encontrado' %>
    <%= form.date_select :founddate %>
  </div>

  <div class="field">
    <%= form.label :foundplace, 'Local que foi encontrado' %>
    <%= form.text_field :foundplace %>
  </div>

  <div class="field">
    <%= form.label :contact, 'Contato' %>
    <%= form.text_field :contact %>
  </div>

  <div class="field">
    <%= form.label :ps, 'Observação' %>
    <%= form.text_area :ps %>
  </div>

  <div class="actions">
    <%= form.submit "Cadastrar Animal Encontrado" %>
  </div>
<% end %>
