<%= bootstrap_form_with(model: animal_found, local: true) do |form| %>
  <% if animal_found.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(animal_found.errors.count, "error") %> prohibited this animal_found from being saved:</h2>

      <ul>
        <% animal_found.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.file_field :image, label: "Selecione a imagem" %>
  </div>

  <div class="field">
    <%= form.text_field :specie, label: "Espécie" %>
  </div>

  <div class="field">
    <%= form.text_field :sex, label: "Sexo" %>
  </div>

  <div class="field">
    <%= form.date_select :founddate, label: "Data que foi encontrado" %>
  </div>

  <div class="field">
    <%= form.text_field :foundplace, label: "Local que foi encontrado" %>
  </div>

  <div class="field">
    <%= form.text_field :contact, label: "Contato" %>
  </div>

  <div class="field">
    <%= form.text_area :ps, label: "Observação" %>
  </div>

  <div class="actions">
    <%= form.submit "Cadastrar Animal Encontrado" %>
  </div>
<% end %>
