<p id="notice"><%= notice %></p>

<h1>Animais Encontrados</h1>

<div class="col-12 col-sm-12 col-md-6 col-lg-6 text-center">
  <table class="table my_custom_table">
    <thead class="my_custom_thead">
      <tr>
        <th colspan="5">
          <%= link_to 'Novo Animal Encontrado', new_animal_found_path, class: "btn btn-primary" %>
        </th>
      </tr>
    </thead>
    <tbody>
      <% @animal_founds.each do |animal_found| %>
        <tr>
          <td>
            <% if animal_found.image.attached? %>
              <%= image_tag animal_found.image, size:"90x90" %>
            <% end %>
          </td>
          <td class="text-left">
            <b><%= animal_found.foundplace %></b>
            <br> Data que foi encontrado: <%= animal_found.founddate %>
            <br> Espécie: <%= animal_found.specie %>
            <br> Sexo: <%= animal_found.sex %>
            <br> Contato: <%= animal_found.contact %>
            <br> Observações: <%= animal_found.ps %>
          </td>
          <td>
            <%= link_to 'Ver detalhes', animal_found %>
            <br><%= link_to 'Editar', edit_animal_found_path(animal_found) %>
            <br><%= link_to 'Família Reunida', animal_found, method: :delete, data: { confirm: 'Você tem certeza que o animal foi devolvido a família dele?' } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
