<p id="notice"><%= notice %></p>

<h1>Animal Founds</h1>

<table>
  <thead>
    <tr>
      <th>Specie</th>
      <th>Sex</th>
      <th>Founddate</th>
      <th>Foundplace</th>
      <th>Contact</th>
      <th>Ps</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @animal_founds.each do |animal_found| %>
      <tr>
        <td><%= animal_found.specie %></td>
        <td><%= animal_found.sex %></td>
        <td><%= animal_found.founddate %></td>
        <td><%= animal_found.foundplace %></td>
        <td><%= animal_found.contact %></td>
        <td><%= animal_found.ps %></td>
        <td><%= link_to 'Show', animal_found %></td>
        <td><%= link_to 'Edit', edit_animal_found_path(animal_found) %></td>
        <td><%= link_to 'Destroy', animal_found, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Animal Found', new_animal_found_path %>
