<p id="notice"><%= notice %></p>

<p>
  <strong>Specie:</strong>
  <%= @animal_found.specie %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @animal_found.sex %>
</p>

<p>
  <strong>Founddate:</strong>
  <%= @animal_found.founddate %>
</p>

<p>
  <strong>Foundplace:</strong>
  <%= @animal_found.foundplace %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @animal_found.contact %>
</p>

<p>
  <strong>Ps:</strong>
  <%= @animal_found.ps %>
</p>

<%= link_to 'Edit', edit_animal_found_path(@animal_found) %> |
<%= link_to 'Back', animal_founds_path %>
