<%= bootstrap_form_with(model: animal_lost, local: true) do |form| %>
  <% if animal_lost.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(animal_lost.errors.count, "error") %> prohibited this animal_lost from being saved:</h2>

      <ul>
        <% animal_lost.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= form.file_field :image, label: "Selecione a imagem" %>
  </div>

  <div class="field">
    <%= form.text_field :name, label: "Atende pelo nome:" %>
  </div>
  
  <div class="field">
    <%= form.text_field :specie, label: "Espécie" %>
  </div>

  <div class="field">
    <%= form.text_field :sex, label: "Sexo" %>
  </div>

  <div class="field">
    <%= form.date_select :lostdate, label: "Data que se perdeu" %>
  </div>

  <div class="field">
     <%= form.text_field :lostplace, label: "Local que se perdeu" %>
  </div>

  <div class="field">
  <%= form.text_field :contact, label: "Contato" %>
  </div>

  <div class="field">
    <%= form.text_area :ps, label: "Observação" %>
  </div>

  <div class="actions">
    <%= form.submit "Cadastrar Animal Perdido" %>
  </div>
<% end %>
