<p id="notice"><%= notice %></p>

<h1>Animais Perdidos</h1>

<div class="col-12 col-sm-12 col-md-6 col-lg-6 text-center">
  <table class="table my_custom_table">
    <thead class="my_custom_thead">
      <tr>
        <th colspan="5">
          <%= link_to 'Novo Animal Perdido', new_animal_lost_path %>
        </th>
      </tr>
    </thead>
    <tbody>
      <% @animal_losts.each do |animal_lost| %>
        <tr>
          <td>
            <% if animal_lost.image.attached? %>
              <%= image_tag animal_lost.image, size: "90x90"%>
            <% end %>
          </td>
          <td class="text-left">
            <b><%= animal_lost.name %></b>
            <br> Espécie: <%= animal_lost.specie %>
            <br> Sexo: <%= animal_lost.sex %>
            <br> Data do desaparecimento: <%= animal_lost.lostdate %>
            <br> Local de Desaparecimento: <%= animal_lost.lostplace %>
            <br> Contato: <%= animal_lost.contact %>
            <br> Observações: <%= animal_lost.ps %>
          </td>
          <td>
            <%= link_to 'Ver detalhes', animal_lost %>
            <br><%= link_to 'Editar', edit_animal_lost_path(animal_lost) %>
            <br><%= link_to 'Família Reunida', animal_lost, method: :delete, data: { confirm: 'Você tem certeza que o animal foi devolvido a família dele?' } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>