<p id="notice"><%= notice %></p>

<p>
  <strong>Specie:</strong>
  <%= @animal_lost.specie %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @animal_lost.sex %>
</p>

<p>
  <strong>Lostdate:</strong>
  <%= @animal_lost.lostdate %>
</p>

<p>
  <strong>Lostplace:</strong>
  <%= @animal_lost.lostplace %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @animal_lost.contact %>
</p>

<p>
  <strong>Ps:</strong>
  <%= @animal_lost.ps %>
</p>

<%= link_to 'Edit', edit_animal_lost_path(@animal_lost) %> |
<%= link_to 'Back', animal_losts_path %>
