<p id="notice"><%= notice %></p>

<%= link_to image_tag(@found_animal.image), found_animals_path %>

<p>
  <strong>Species:</strong>
  <%= @found_animal.species %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @found_animal.sex %>
</p>

<p>
  <strong>Founddate:</strong>
  <%= @found_animal.founddate %>
</p>

<p>
  <strong>Foundplace:</strong>
  <%= @found_animal.foundplace %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @found_animal.contact %>
</p>

<p>
  <strong>Ps:</strong>
  <%= @found_animal.ps %>
</p>

<p>
  <strong>User:</strong>
  <%= @found_animal.User_id %>
</p>

<%= link_to 'Edit', edit_found_animal_path(@found_animal) %> |
<%= link_to 'Back', found_animals_path %>
