<p id="notice"><%= notice %></p>

<%= link_to image_tag(@found_animal.image), found_animals_path %>

<p>
  <strong>Espécie:</strong>
  <%= @found_animal.species %>
</p>

<p>
  <strong>Sexo:</strong>
  <%= @found_animal.sex %>
</p>

<p>
  <strong>Data encontrado:</strong>
  <%= @found_animal.founddate %>
</p>

<p>
  <strong>Local encontrado:</strong>
  <%= @found_animal.foundplace %>
</p>

<p>
  <strong>Contato:</strong>
  <%= @found_animal.contact %>
</p>

<p>
  <strong>Observações:</strong>
  <%= @found_animal.ps %>
</p>

<p>
  <strong>Usuário:</strong>
  <%= @found_animal.User_id %>
</p>

<%= link_to 'Editar', edit_found_animal_path(@found_animal) %> |
<%= link_to 'Back', found_animals_path %>
