<%= form_with(model: animal_encontrado, local: true) do |form| %>
  <% if animal_encontrado.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(animal_encontrado.errors.count, "error") %> prohibited this animal_encontrado from being saved:</h2>

      <ul>
        <% animal_encontrado.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :specie %>
    <%= form.text_field :specie %>
  </div>

  <div class="field">
    <%= form.label :sex %>
    <%= form.text_field :sex %>
  </div>

  <div class="field">
    <%= form.label :founddate %>
    <%= form.date_select :founddate %>
  </div>

  <div class="field">
    <%= form.label :foundplace %>
    <%= form.text_field :foundplace %>
  </div>

  <div class="field">
    <%= form.label :contact %>
    <%= form.text_field :contact %>
  </div>

  <div class="field">
    <%= form.label :ps %>
    <%= form.text_area :ps %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
