<p id="notice"><%= notice %></p>

<p>
  <strong>Specie:</strong>
  <%= @animal_encontrado.specie %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @animal_encontrado.sex %>
</p>

<p>
  <strong>Founddate:</strong>
  <%= @animal_encontrado.founddate %>
</p>

<p>
  <strong>Foundplace:</strong>
  <%= @animal_encontrado.foundplace %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @animal_encontrado.contact %>
</p>

<p>
  <strong>Ps:</strong>
  <%= @animal_encontrado.ps %>
</p>

<%= link_to 'Edit', edit_animal_encontrado_path(@animal_encontrado) %> |
<%= link_to 'Back', animal_encontrados_path %>
